//*-----------------------------------------------
//|   global color
//-----------------------------------------------*/

$primaryBase: #0946F1;
$primaryBase1: #3265F3;
$primaryBase2: #84A2F8;
$primaryBase3: #ADC1FA;
$primaryBase4: #CEDAFC;
$primaryBase5: #DEEBFF;
$primaryBase6: #075DF6;

$secondryBase: #047EFD;
$secondryBase1: #58A9FE;
$secondryBase2: #81BEFE;
$secondryBase3: #ABD4FE;
$secondryBase4: #CDE5FF;
$secondryBase5: #DEEBFF;

$blackBase: #091E42;
$blackBase1: #172B4D;
$blackBase2: #253858;
$blackBase3: #344563;
$blackBase4: #42526E;
$blackBase5: #505F79;
$blackBase6: #5E6C84;
$blackBase7: #6B778C;
$blackBase8: #7A869A;
$blackBase9: #8993A4;
$blackBase10: #97A0AF;
$blackBase11: #A5ADBA;
$blackBase12: #B3BAC5;
$blackBase13: #C1C7D0;
$blackBase14: #DFE1E6;
$blackBase15: #EBECF0;
$blackBase16: #F4F5F7;
$blackBase17: #EBECF0;
$blackBase18: #eaecef;
$blackBase19: #fafbfb;
$blackBase20: #FAFBFC;
$blackBase21: #091E42C4;
$blackBase22: #CCD4FF;
$blackBase23: #FCC;
$blackBase24: #eee;


$greenBase: #006644;
$greenBase1: #00875A;
$greenBase2: #36B37E;
$greenBase3: #57D9A3;
$greenBase4: #79F2C0;
$greenBase5: #ABF5D1;
$greenBase6: #E3FCEF;


$lightYellow: #FFFAE6;
$lightYellow1 :#FFC400;
$orange : #FF7452;
$skyBlue: #00C7E6;
$purpleLight: #998DD9;
$yellowBase: #FFAB00;


$redBase6: #FFEBE6;
$primaryBase06: rgba(4, 126, 253, 0.8);
$bgShades: #0D171F;
$red:#ef4444;
$red1: #FF5630;
$success: #10B981;
$darkBase: #15202C;
$dark600: #2C3641;
$gray: #3c3c3c;
$gray2: #243241;
$gray3: #0F1F35;
$gray4: #9FAEFF;

/**white varable **/
$white: #ffffff;
$white00: rgba(255, 255, 255, 0.0);
$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
$white04: rgba(255, 255, 255, 0.4);
$white05: rgba(255, 255, 255, 0.5);
$white06: rgba(255, 255, 255, 0.6);
$white07: rgba(255, 255, 255, 0.7);
$white08: rgba(255, 255, 255, 0.8);
$white09: rgba(255, 255, 255, 0.9);

/**black varable **/
$black: #000000;
$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0, 0, 0, 0.3);
$black04: rgba(0, 0, 0, 0.4);
$black05: rgba(0, 0, 0, 0.5);
$black06: rgba(0, 0, 0, 0.6);
$black07: rgba(0, 0, 0, 0.7);
$black08: rgba(0, 0, 0, 0.8);
$black09: rgba(0, 0, 0, 0.9);

$black0505: #050505;

$black80: #091E42;
$black82: #091E42F2;
$black83: #ddd;



/**social icons color **/
$iconBg: rgba(120, 123, 151, 0.1);
