
@import '../../../styles/scssGlobal/global.scss';
.forgotWhiteBox{ position: relative; padding-bottom: 30px; }
.forgotPasswordCntr{ width: 466px; margin: 0 auto;}
.forgotPasswordCntr [attr-data="logoCntr"]{ margin:0 auto 32px auto; width: fit-content;}
.forpassList{ padding: 0 0 18px 0;}
.forpassListCont{ width: 100%; padding-bottom:36px; text-align: center; }
.forpassListCont h2{ padding-bottom: 8px;}
.forpassListCont h5{ padding: 0px; opacity: 0.7; font-weight: 400;}
.forpassListCont label{ width: 100%; text-align: center; @include display(flex, center, center); margin-bottom: 26px;}
.backlink{ @include position(absolute, 24px, 24px)}