
@import '../../../styles/scssGlobal/global.scss';

.changePasswordDv{ width: 100%; }
.changePasswordDv figure{ @include display(flex, center, center); width: 100%; margin-bottom: 32px;}
.changePasswordDv h2{ font-weight: 500; text-align: center; margin: 0px; padding: 0px 0 8px 0;}
.changePasswordDv p{ text-align: center; line-height: 20px;}
.changePasswordDv ul{ width: 100%; margin-top: 8px;}
.changePasswordDv ul li{ width: 100%; padding-bottom: 16px}
.changePasswordDv ul li.centerBox{@include display(flex, center, center);}