
@import '../../../styles/scssGlobal/global.scss';

.setPasswordDv{ width: 100%; }
.setPasswordDv figure{ @include display(flex, center, center); width: 100%; margin-bottom: 32px;}
.setPasswordDv h2{ font-weight: 500; text-align: center; margin: 0px; padding: 0px 0 8px 0;}
.setPasswordDv p{ text-align: center; line-height: 20px;}
.setPasswordDv ul{ width: 100%; margin-top: 8px;}
.setPasswordDv ul li{ width: 100%; padding-bottom: 16px}
.setPasswordDv ul li.centerBox{@include display(flex, center, center);}